body {
  padding: 20px;
  background-color: #fcbebe;
  padding-bottom: 500px;
}

p {
  background-color: #333;
  padding: 10px;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
